.idea
.vagrant
.gitattributes
node_modules
/chat/node_modules
app_dev/vendor
puphpet
Vagrantfile
/web/bundles/
/web/vendor/
/web/img/album/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/app/vendor/*
app/vendor/*
/bin/
/composer.phar